extends ../layout

block content
    h1.
        Infophoto #{expense._id}
    p Name: #{expense.name}
    p Category: #{expense.category}
    p Date: #{expense.date}
    p Amount: #{expense.amount}


